[Desktop Entry]
Type=Application
Name=MIDIMischief
Comment=Map MIDI and HID controllers to keyboard shortcuts and scripts
Exec=MIDIMischief gui
Icon=MIDIMischief
Terminal=false
Categories=Utility;
